:root {
--box-two-top-border: hsl(0, 78%, 62%);
--box-one-top-border: hsl(180, 62%, 55%);
--box-three-top-border: hsl(34, 97%, 64%);
--box-four-top-border: hsl(212, 86%, 64%);

--clr-accent-400: hsl(234, 12%, 34%);
--clr-accent-500: hsl(229, 6%, 66%);
--clr-accent-300: hsl(0, 0%, 98%);

--fw-light: 200;
--fw-normal: 400;
--fw-bold: 600;

}


*, *::before, *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }
  
  html {
    height: 100%;
  }

  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    height: 100%;
  }
 
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }

  input, button, textarea, select {
    font: inherit;
  }
  
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
  }
  
  #root, #__next {
    isolation: isolate;
  }

/* General Styling */

body {
    font-family: 'Poppins';
    font-size: .9375rem;
}

.headingText {
    font-weight: var(--fw-light);
}

.boldText {
    font-weight: var(--fw-bold);
}

.subText {
    font-weight: var(--fw-normal);
    opacity: .4;
}

.cardHeading {
    font-weight: var(--fw-bold);
}

.cardSubtext {
    opacity: .4;
    font-size: .8125rem;
}







.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}